# Ignore everything...
*

# ...except the rules page, the changes page, content data, images, and this file
!.gitignore
!index.html
!changes.html
!CNAME
!tools/
!tools/*.py
!data/
!data/*.json
!images/
!images/*.png
